name: CI

on:
  push:
    branches: 
      - master

jobs:
  build-and-publish:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout project
      uses: actions/checkout@v2
    - name: Run antora
      uses: docker://antora/antora:2.2.0
      with:
        args: github-pages.yml 
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: "${{github.token}}"
        FOLDER: gh-pages
        BRANCH: gh-pages
        COMMIT_MESSAGE: "Publishing the docs for commit ${{github.sha}}"
